.header{
  background: transparent;
  height:80px;
  z-index: 1001;
  position:fixed;
  width:100%;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  &.scrolled{
    background: $color-green-dark-opacity;
    height:60px;
  }
}


.menu {
  margin-top:5px;
  font-family: 'Roboto', Arial, sans-serif;
  text-align: right;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  * {
    box-sizing: border-box;
  }
  li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 0;
    overflow: hidden;
    position: relative;
    border-radius: 3px;
    &:before, &:after {
      display: block;
    }
    &:before {
      left: 0%;
    }
    &:after {
      left: 50%;
    }
  }
  .page-scroll {
    backface-visibility: hidden;
    color: #e6e6e6;
    display: block;
    padding: 0.5em 1em;
    position: relative;
    text-align: center;
    text-decoration: none;
    &:hover {
      color: #ffffff;
    }
    &:before {
      left: 25%;
    }
    &:after {
      left: 75%;
    }
  }
  li {
    &:before, &:after {
      background-color: $color-green-light;
      position: absolute;
      width: 26%;
      top: 50%;
      bottom: 50%;
      content: '';
      z-index: -1;
      opacity: 0;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
  .page-scroll {
    &:before, &:after {
      background-color: $color-green-light;
      position: absolute;
      width: 26%;
      top: 50%;
      bottom: 50%;
      content: '';
      z-index: -1;
      opacity: 0;
      -webkit-transition: all 0.2s ease;
      transition: all 0.2s ease;
    }
  }
  li {
    &:before {
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    &:after {
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }
  }
  .page-scroll {
    &:before {
      -webkit-transition-delay: 0.05s;
      transition-delay: 0.05s;
    }
    &:after {
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
    }
  }
  li {
    &:hover:before, &.current:before, &:hover:after, &.current:after, &:hover a:before, &.current a:before, &:hover a:after, &.current a:after {
      opacity: 1;
      top: 0;
      bottom: 0;
    }
    &:hover:before, &.current:before {
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
    }
    &:hover:after, &.current:after {
      -webkit-transition-delay: 0.15s;
      transition-delay: 0.15s;
    }
    &:hover .page-scroll:before, &.current .page-scroll:before {
      -webkit-transition-delay: 0.075s;
      transition-delay: 0.075s;
    }
    &:hover .page-scroll:after, &.current .page-scroll:after {
      -webkit-transition-delay: 0.225s;
      transition-delay: 0.225s;
    }
  }
}

.logo{
  z-index: 10001;
  position:fixed;
  top:10px;
  left:20px;
  color:white;
  &__logo{
    display:inline-block;
    text-transform: uppercase;
    font-size:24px;
    font-weight:900;
  }
  &__phone{
    margin-left:15px;
    margin-bottom:10px;
    display:inline-block;
  }
  &__number{
    position:relative;
    display:inline-block;
    top:-3px;

  }
}