.page-title{
  text-align: center;
  &__head{
    color:$color-green-dark;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin-top: 10%;
    margin-bottom:-1%;
    padding:0 3%;
    @media(max-width:800px){
      font-size:25px !important;
    }
    @media(max-width:700px){
      font-size:20px !important;
    }
    &.sub{
      font-size: 25px;
      @media(max-width:800px){
        font-size:20px !important;
      }
      @media(max-width:700px){
        font-size:15px !important;
      }
    }
  }
  &__details{
    color:$color-green-grey;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding:0 30%;
    @media(max-width:400px){
      padding:0 15%;
    }
  }
  &__bar{
    display: inline-block;
    background:$color-green-light;
    height:2px;
    width: 125px;
    margin-bottom:-1%;
  }

}