$handW: 429px;
$handH: 496px;
.template{
  @include no-padding;
  .phone{
    position: absolute;
    bottom:0;
    left:150px;
    @media(max-width:1200px){
      left:100px;
    }
    @media(max-width:1050px){
      left:50px;
      width: $handW * 0.79;
      height: $handH * 0.79;
    }
    @media #{$xs-screen}{
      left:10%;
    }
    @media(max-width:500px){
      left:5%;
      width: $handW * 0.7;
      height: $handH * 0.7;
    }
    @media(max-width:340px){
      left:0;
      width: $handW * 0.7;
      height: $handH * 0.7;
    }
  }
  position:relative;
  background: $color-white;
  height:700px;
  @include no-padding;
  @media(max-width:1050px){
    height:600px;
  }
  @media #{$xs-screen}{
    height:900px;
  }
  @media(max-width:500px){
    height:1000px;
  }
  @media(max-width:340px){
    height:1100px;
  }
  &__details{
    @include no-padding;
    position: absolute;
    top: 0;
    width:100%;
    height:100%;
    &__info{
      padding-right:10%;
      margin-top:8%;
      &__title{
        font-size:25px;
        font-weight:900;
        color:$color-green-dark;
      }
      &__text{
        color:$color-green-grey;
        margin-bottom:5%;
      }
      &__img{
        display:inline-block;
      }
      &__sentence{
        display:inline-block;
        color:$color-green-grey;
      }
    }
    @media #{$xs-screen}{
      padding-left:10%;
    }
  }
}